src/main/mule/data-transformation-v2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="7a84fac8-c625-4a21-8abb-b4f3980510cb" >
		<file:connection workingDir="C:\Mulesoft-Tutorial-Data\mule-project\data-transformation\output" />
	</file:config>
	<flow name="data-transformation-v2Flow" doc:id="1f200401-921f-4a89-9a04-f48160be9832" >
		<file:listener doc:name="On New or Updated File" doc:id="1c2ade46-1638-4c4c-8f40-839a815e63d2" directory="C:\Mulesoft-Tutorial-Data\mule-project\data-transformation\input" moveToDirectory="C:\Mulesoft-Tutorial-Data\mule-project\data-transformation\backup" outputMimeType="application/xml" renameTo="#[&quot;backup-&quot; ++ now() as String {format: 'Y-M-d-h-m-s'} ++ vars.fileName]">
			<scheduling-strategy >
				<fixed-frequency frequency="10" timeUnit="SECONDS"/>
			</scheduling-strategy>
			<file:matcher filenamePattern="*xml" />
		</file:listener>
		<set-variable value="#[attributes.fileName]" doc:name="Set Variable" doc:id="540109a4-b663-4c8d-86d5-808dcabd7bc9" variableName="fileName"/>
		<scatter-gather doc:name="Scatter-Gather" doc:id="84452b59-3d03-41b8-a8bc-4c042115528b" >
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="727f1c64-8b68-4253-ac65-8a415ceeb995" name="to-csv"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="baf16a70-b8d7-4c38-9682-ba7cc8fac9ee" name="to-json"/>
			</route>
			<route >
				<flow-ref doc:name="Flow Reference" doc:id="0cf0e729-10fc-4d02-8ebd-4c7fd9d78bce" name="to-xlsx"/>
			</route>
		</scatter-gather>
	</flow>
	<sub-flow name="to-csv" doc:id="b6bab21d-4471-4b22-aca2-ed8ee85057da" >
		<ee:transform doc:name="Transform Message" doc:id="dd4a3d4f-8e85-4425-9253-5e14fe3806b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
payload.root.*row]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="46942d63-a9a1-4ab1-b006-934f73be8e75" path="#[&quot;file-&quot;++ now()as String {format: 'y-M-d-h-m-s'}++ vars.fileName ++ &quot;.csv&quot;]" config-ref="File_Config"/>
	</sub-flow>
	<sub-flow name="to-json" doc:id="6b3a86d4-183f-4a55-9eb8-3c3dffe77ae6" >
		<ee:transform doc:name="Transform Message" doc:id="0bfe9f56-ef48-4f9c-88bb-631a3f19ff46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.root.*row]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="23f72013-e7fe-4ad6-851c-8fa1c76b480d" path="#[&quot;file-&quot;++ now()as String {format: 'y-M-d-h-m-s'}++ &quot;-&quot;++ vars.fileName ++ &quot;.json&quot;]" config-ref="File_Config"/>
	</sub-flow>
	<sub-flow name="to-xlsx" doc:id="4d70d339-29df-4a86-be75-fd8ab867b660" >
		<ee:transform doc:name="Transform Message" doc:id="b1ff7af1-4fb1-4b0c-a4ef-e61cdc4b800f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xlsx
---
{
	"sheet 1" : payload.root.*row
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="Write" doc:id="bf93506a-063d-4c65-92ae-9dfd0b58b338" path="#[&quot;file-&quot;++ now()as String {format: 'y-M-d-h-m-s'}++ vars.fileName ++ &quot;.xsls&quot;]" config-ref="File_Config"/>
	</sub-flow>
</mule>
